:root {
  --color-base: #32406f; //#222;
  --color-primary: #dcae1d; //#2C7BE5;
  --color-primary-dark: #2569c3;
  --color-error: #e63757;
  --color-success: #21a68d;
  --color-border: #c9ced6;
  --color-white: #ffffff;
  --color-light-gray: #e4e9f2;
  --color-light-green: #cae4db;
  --color-gray: #7e8ca5;
  --color-dark-gray: #2e3538;
  --color-dark-green: #9eb3ac;
  --font-size-base: 1.6rem;
  --font-size-h1: 2.2em;
  --font-size-h1-sp: 1.8em;
  --font-size-h2: 1.8em;
  --font-size-h2-sp: 1.6em;
  --font-size-h3: 1.2em;
  --font-size-h3-sp: 1.1em;
  --font-size-h4: 1.2em;
  --font-size-h4-sp: 1.1em;
  --font-size-small: 0.9em;
  --font-size-x-small: 0.85em;
  --font-family-sansserif: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', Meiryo,
    'MS UI Gothic', Helvetica, Arial, sans-serif;
  --font-family-serif: 'Noto Serif JP', 'Hiragino Mincho Pro', 'MS PMincho',
    'MS UI Gothic', serif;
  --font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', Meiryo,
    'MS UI Gothic', Helvetica, Arial, sans-serif;
  --font-en-sansserif: 'Secular One', sans-serif;
  --font-en-serif: 'Noto Serif JP', 'Hiragino Mincho Pro', 'MS PMincho',
    'MS UI Gothic', serif;
  --font-en: 'Secular One', sans-serif;
  --border-radius: 4px;
  --border-radius-large: calc(var(--border-radius) * 2);
  --spacing: 1em;
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-large: calc(var(--spacing) * 2);
  --spacing-vertical-pc: 80px;
  --spacing-horizontal-pc: 40px;
  --spacing-vertical-sp: 40px;
  --spacing-horizontal-sp: 20px;
  --transition-seconds: 0.2s;
  --header-height-pc: 80px;
  --header-height-sp: 60px;
}
/*
Bメイン #32406F
Bサブ #9EB3AC #CAE4DB

Yメイン #DCAE1D
Yサブ #DCD51D

Rメイン #990033
Rサブ #EF87A2
*/

.stripe {
  background-image: url(assets/image/bg_line.png);
  background-repeat: repeat;
  background-size: auto;
}
