.c-hero {
  position: relative;
  // margin-bottom: var(--spacing-vertical-pc);
  // padding: var(--spacing-horizontal-pc) 0 var(--spacing-vertical-pc);
  @include sp() {
    // margin-bottom: var(--spacing-vertical-sp);
    // padding: var(--spacing-horizontal-sp) 0 calc(var(--spacing-vertical-sp) * 4);
  }
  &__hash {
    position: absolute;
    opacity: 0.15;
    bottom: -100px;
    right: 0;
    height: 52vw;
    // transform: translate(0, -50%);
    @include sp() {
      bottom: 0;
      height: 82vw;
    }
  }
  &__image {
    display: block;
    width: 100%;
    margin-left: auto;
    @include sp() {
      width: auto;
      height: 80vh;
    }
  }
  &__body {
    position: absolute;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
    bottom: 180px;
    width: 66vw;
    // background-color: var(--color-base);
    min-height: 11em;
    @include sp() {
      bottom: 0.5em;
      width: 90%;
      // padding-left: 2em;
      min-height: 8em;
    }
    &__lead {
      margin: 0;
      font-size: 5rem;
      // font-family: 'Secular One', sans-serif;
      font-family: 'Lora', serif;
      line-height: 1.3;

      padding: 0.5em 1em 0.15em 1em;

      color: var(--color-white);
      letter-spacing: 0.025em;
      // text-indent: -0.8em;

      background-color: var(--color-base);

      @include sp() {
        // font-size: 10vw;
        font-size: 6vw;
        // text-indent: -0.8em;
        padding-left: var(--spacing-horizontal-sp);
      }
    }
    &__text {
      // margin: var(--spacing) 0;
      margin: 0;
      font-family: var(--font-family-serif);
      // font-weight: bold;
      letter-spacing: 0.05em;
      // color: var(--color-white);
      // @include pc() {
      //   font-size: var(--font-size-h4);
      // }
      // @include sp() {
      //   display: none;
      // }
      color: var(--color-base);
      padding: 0.33em 0.1em 0.2em 1em;
      font-size: 3.4em;
      @include sp() {
        font-size: 1.8em;
        line-height: 1.3em;
        padding-left: var(--spacing-horizontal-sp);
      }
    }
  }
}

/* top page service icons */
.flex-items {
  display: flex;
  justify-content: space-between;
  @include sp() {
    flex-direction: column;
  }
  .flex-item {
    width: 30%;
    padding: 1.6em;
    display: flex;
    flex-direction: column;
    @include sp() {
      width: 100%;
    }
  }
}

/* top page greet */
.rect {
  width: 380px;
  height: 380px;
  overflow: hidden;
  position: absolute;
  right: 5em;
  top: 0;
  @include sp() {
    position: static;
    right: auto;
    margin: 0 auto;
  }
  img {
    position: relative;
    top: 0;
    width: 1180px;
    max-width: none;
    right: 160px;
  }
}
.greet-title,
.greet {
  width: 50%;
  @include sp() {
    width: 100%;
  }
}
.detail-to-aboutus {
  position: absolute;
  right: 0;
  bottom: 0;
  @include sp() {
    position: static;
  }
}
.l-container--aboutus-inner {
  @include sp() {
    flex-direction: column;
  }
}

.top-service-icon {
  width: 66%;
  margin: 20px auto;
  @include sp() {
    margin: 0 auto;
  }
}
.service-lead {
  margin: 0 !important;
  font-size: 1.7em !important;
  // @include sp() {
  //   margin: 0 !important;
  // }
}

.transition {
  opacity: 0;
}
// .transition.animate__animated {
//   opacity: 1;
// }

.l-container--services .after {
  display: block;
  width: 300vw;
  height: 460px;
  position: absolute;
  bottom: 100px;
  left: -30px;
  background-color: var(--color-light-gray);
  z-index: -1;
  @include sp() {
    height: 1480px;
  }
}
.l-container--achivement .after {
  display: block;
  width: 300vw;
  height: 360px;
  position: absolute;
  bottom: 20px;
  right: -30px;
  background-color: var(--color-light-gray);
  z-index: -1;
}
